@font-face {
  font-family: "iconfont"; /* Project id 3717720 */
  src: url('iconfont.woff2?t=1666923602457') format('woff2'),
       url('iconfont.woff?t=1666923602457') format('woff'),
       url('iconfont.ttf?t=1666923602457') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoujichongzhi:before {
  content: "\e6c8";
}

.icon-fangdajing:before {
  content: "\e609";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-xiongzhang:before {
  content: "\e6b0";
}

.icon-fangxiang-xiangzuo:before {
  content: "\e614";
}

.icon-fangxiang-xiangyou:before {
  content: "\e615";
}

.icon-gaolou:before {
  content: "\e604";
}

.icon-kehuishouwu:before {
  content: "\e627";
}

.icon-sim:before {
  content: "\e946";
}

.icon-gouwuche:before {
  content: "\e63f";
}

